.nav-wrap {
    background-color: #282c34;

    .nav-left-wrap {

        .nav-logo {
            height: 50px;
            width: 50px;
        }

        .nav-title {
            padding: 5px 0 0 0;
            margin: 0;
            color: red;
        }
    }
}