.detail {
    margin: 80px 20% 0 20%;
    .detail-left {
        width: 30%;
        .detail-img {
            width: 100%;
        }
    }

    .detail-right {
        margin-left: 20px;
        width: 70%;

        .detail-date {
            margin: 0 0 5px 0;
            font-size: 11px;
            font-style: italic;
        }

        .detail-info {
            margin: 0;
            font-size: 13px;
        }
    }
    
}